<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Produk</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/keranjang">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="searchQuery" placeholder="Cari produk..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let p of filteredProducts; trackBy: trackById" (click)="goToDetail(p.id)" button>
      <ion-thumbnail slot="start">
        <img [src]="p.image ? p.image : 'https://ionicframework.com/docs/img/demos/thumbnail.svg'" alt="product image">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ p.name }}</h2>
        <p>Stok: {{ p.stock }} | Harga: Rp{{ p.sellPrice }}</p>
      </ion-label>
      <ion-button slot="end" (click)="addToCart(p, $event)" [disabled]="p.stock === 0" color="secondary">
        + Keranjang
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAdd()" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
