<ion-header>
  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Produk</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="goToCart()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
      <ion-button (click)="loadData()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="searchQuery" placeholder="Cari produk..."></ion-searchbar>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngFor="let chunk of chunkedProducts">
      <ion-col size="6" *ngFor="let p of chunk; trackBy: trackById">

        <ion-card (click)="goToDetail(p.id)" button>
          <img [src]="p.image ? p.image : 'https://ionicframework.com/docs/img/demos/thumbnail.svg'" alt="product image"
            style="height: 120px; object-fit: cover;">

          <ion-card-header>
            <ion-card-title>{{ p.name }}</ion-card-title>
            <ion-card-subtitle>Rp {{ p.sellPrice }}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>Stok: {{ p.stock }}</p>
            <ion-button expand="block" size="small" color="warning" (click)="addToCart(p, $event)"
              [disabled]="p.stock === 0">
              + Keranjang
            </ion-button>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAdd()" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-alert [isOpen]="isAlertOpen" header="Informasi" [message]="alertMessage" [buttons]="['OK']"
    (didDismiss)="setOpen(false)"></ion-alert>
</ion-content>