<ion-app>
  <ion-menu auto-hide="true" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>SIMOBILE Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle>
          <ion-item (click)="navigate('/dashboard')" button>
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="navigate('/produk')" button>
            <ion-icon name="cube" slot="start"></ion-icon>
            <ion-label>Produk</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="navigate('/transaksi')" button>
            <ion-icon name="swap-horizontal" slot="start"></ion-icon>
            <ion-label>Transaksi</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="navigate('/profil')" button>
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Profil</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-item-divider></ion-item-divider>
        <ion-menu-toggle>
          <ion-item (click)="navigate('/pengaturan')" button>
            <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>Pengaturan</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="navigate('/tentang')" button>
            <ion-icon name="information-circle" slot="start"></ion-icon>
            <ion-label>Tentang Aplikasi</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="navigate('/dashboard')">
        <ion-icon name="home"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="navigate('/produk')">
        <ion-icon name="list"></ion-icon>
        <ion-label>Produk</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="navigate('/transaksi')">
        <ion-icon name="receipt"></ion-icon>
        <ion-label>Transaksi</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="navigate('/profil')">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>