<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/produk"></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Produk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-list>
    <ion-item>
      <ion-input label="Nama Produk" labelPlacement="stacked" placeholder="Masukkan nama produk" [(ngModel)]="new_name">
      </ion-input>
    </ion-item>
    <ion-note *ngIf="errors['name']" color="danger" class="ion-padding-start">
      {{ errors['name'] }}
    </ion-note>

    <ion-item>
      <ion-input label="Kategori" labelPlacement="stacked" placeholder="Masukkan kategori" [(ngModel)]="new_category">
      </ion-input>
    </ion-item>
    <ion-note *ngIf="errors['category']" color="danger" class="ion-padding-start">
      {{ errors['category'] }}
    </ion-note>

    <ion-item>
      <ion-input type="number" label="Stok" labelPlacement="stacked" placeholder="Masukkan stok"
        [(ngModel)]="new_stock">
      </ion-input>
    </ion-item>
    <ion-note *ngIf="errors['stock']" color="danger" class="ion-padding-start">
      {{ errors['stock'] }}
    </ion-note>

    <ion-item>
      <ion-input type="number" label="Harga Beli" labelPlacement="stacked" placeholder="Masukkan harga beli"
        [(ngModel)]="new_buyPrice">
      </ion-input>
    </ion-item>
    <ion-note *ngIf="errors['buyPrice']" color="danger" class="ion-padding-start">
      {{ errors['buyPrice'] }}
    </ion-note>

    <ion-item>
      <ion-input type="number" label="Harga Jual" labelPlacement="stacked" placeholder="Masukkan harga jual"
        [(ngModel)]="new_sellPrice">
      </ion-input>
    </ion-item>
    <ion-note *ngIf="errors['sellPrice']" color="danger" class="ion-padding-start">
      {{ errors['sellPrice'] }}
    </ion-note>

    <ion-item>
      <ion-input type="url" label="Link Gambar (URL)" labelPlacement="stacked"
        placeholder="https://example.com/gambar.jpg" [(ngModel)]="new_image">
      </ion-input>
    </ion-item>

    <div *ngIf="new_image" class="ion-text-center ion-margin-top">
      <p>Preview:</p>
      <img [src]="new_image" alt="preview">
    </div>
    
  </ion-list>

  <ion-button expand="block" color="warning" class="ion-margin-top" (click)="saveProduct()">
    SIMPAN PRODUK
  </ion-button>

  <ion-alert [isOpen]="showAlert" header="Sukses" [message]="alertMessage" [buttons]="alertButtons"
    (didDismiss)="onAlertDismiss()">
  </ion-alert>

</ion-content>